@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500;600&family=PT+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: #fdceaa;
  background: linear-gradient(20deg, rgba(42, 54, 59, 1) 30%, rgba(232, 74, 95, 1) 100%);
  line-height: 1.6;
  font-family: 'PT Sans', serif;
  font-weight: 500;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
